.HorsePosition {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step_number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: $border-radius-100px;
    background-color: $black-active;
}

.first {
    background-color: $yellow;
}

.second {
    background-color: $grey;
}

.third {
    background-color: $red-3;
}
