.GameTutorial {
    padding: 12px 10px;
    background-color: $black;
    border-radius: $border-radius-big;
    min-height: 169px;
}

.steps_title {
    margin-bottom: 20px;
}

.steps_step {
    margin-top: 12px;
}

.steps_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
