.RaceTable {
    width: 100%;
    background-color: $black;
    border-radius: $border-radius-big;
}

.table {
    width: 100%;
    border-spacing: 12px 12px;
}

.table_header_item {
    @include font-mini;

    color: $white;
    text-align: left;
}

.center {
    @include font-mini;

    color: $white;
    text-align: center;
}

.table_item {
    @include font-body;

    color: $white;
}

.table_tr {
    padding-bottom: 10px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
