.HorseList {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 10px 12px;
}

.horses {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.button_container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: $z-index-negative-1;
    padding: 12px 10px;
}

.active {
    opacity: 1;
    z-index: $z-index-1;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
