.ResultsPage {
    max-width: $width-container;
    margin: 0 auto;
    position: relative;
}

.header {
    background-color: $contrast;
    padding: 20px 10px 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.main {
    padding: 12px 10px;
}

.footer {
    padding: 12px 10px;
}
