.HistoryList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 10px;
    border-radius: $border-radius-big;
    background-color: $black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
