.RaceItem {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    padding: 12px 10px;
    border-radius: $border-radius-big;
    background-color: $black;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    position: relative;
}

.content_item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px 10px;
    border-radius: $border-radius-big;
    background-color: $black-active;
    flex: 1;
}

.content_item_container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.time {
    position: absolute;
    right: 10px;
    top: 12px;
    padding: 4px 9px;
    border-radius: $border-radius-big;
    background-color: $black-active;
}

.separator_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.separator {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $white;
}

.winner {
    background: url('@/shared/assets/backgrounds/bg_green.png');
    background-size: cover;
    background-position: center;

    & .content_item {
        background-color: $green-active;
    }
}

.loser {
    background: url('@/shared/assets/backgrounds/bg_red.png');
    background-size: cover;
    background-position: center;

    & .content_item {
        background-color: $red-1;
    }
}
